@use "../abstracts/variables" as v;

.figure {
    margin: v.$spacing-xl 0;
    text-align: center;

    &__image {
        max-width: 100%;
        height: auto;
        border-radius: v.$border-radius-md;
        box-shadow: var(--shadow-sm);
    }

    &__caption {
        margin-top: v.$spacing-sm;
        font-size: v.$font-size-sm;
        color: var(--color-text-muted);
        font-style: italic;
    }
}
